@import '../.././style/resources.scss';


.movie {
  display: flex;
  border: 1px solid $Gray;
  border-radius: 5px;
  padding: 5px;
}
  
.movie .movieImage {
  width: auto;
  height: 100px;
}

.movie .movieTitle {
  flex-grow: 1;
  text-decoration: none;
  color: $Black; 
  padding-left: 20px;
  line-height: 112.5px;
}

.movie .movieTitle:hover {
  background-color: $Gray;
}

.movieTitle .ratingGood {
  color: $Green;
}

.movieTitle .ratingSoso {
  color: $Orange;
}

.movieTitle .ratingBad {
  color: $Red;
}

.movie .movieYear {
  font-size: 0.5rem;
  color: $Red;
  margin-right: 10px;
}
